.list{
    display: flex;
    flex-direction: column;
    padding: 10px 0 20px 40px;

    .title{
        font-weight: 400px;
        font-size: 16px;
        padding-bottom: 10px;

    }

    .wrapper{
      
        position: relative;

        .sliderArrow {
            width: 50px;
            height: 100%;
            background-color: rgb(22, 22, 22, 0.5);
            position: absolute;
            z-index: 99;
            bottom: 0;
            margin: auto;
            cursor: pointer;
            font-size: 50px;
      
            &.left {
              left: 0;
              margin-left: -40px;
              padding-left: 5px;
            }
      
            &.right {
              right: 0;
              padding-right: 5px;
            }
        }
        .container{
            display: flex;
            margin-top: 10px;
            width: max-content;
            transform: translateX(0px);
            transition: all 1s ease;
        }
    }
}