.login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("https://scontent-dfw5-2.xx.fbcdn.net/v/t1.6435-9/p180x540/241074103_10158406034107883_3924280721254489307_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=730e14&_nc_ohc=1qgg0prTTr0AX8NUwgC&_nc_ht=scontent-dfw5-2.xx&oh=2c01aa3eb7a547a886684e5ca9fb10fd&oe=6157CE6B");
    background-size: cover;
    position: relative;

 

    .top {
      .wrapper {
        padding: 20px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .logo{
               
          height: 77.5px;
          width: 153.5px;
          margin-right: 40px;
          cursor: pointer;
    
          @media (min-width: 1449px) {
              height: 103.3px;
              width: 204.67px;
            }
         }
      }
    }
  
    .container {
      display: flex;
      flex-direction: column;
      min-height: 660px;
      background-color: rgba(0, 0, 0, 0.75);
      border-radius: 5px;
      width: 100%;
      margin: auto;
      max-width: 450px;
      padding: 60px 68px 40px;
      margin-bottom: 100px;
      
      .title{
        color: #fff;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 28px;
      }

      form {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        width: 100%;

        h1{
          margin-bottom: 10px;
        }
  
        input {
          background: #333;
          border-radius: 4px;
          border: 0;
          color: #fff;
          height: 50px;
          line-height: 50px;
          padding: 5px 20px;
          margin-bottom: 20px;
          &:last-of-type {
            margin-bottom: 30px;
          }
        }
  
        button {
          background: #fd8264;
          border-radius: 4px;
          font-size: 16px;
          font-weight: bold;
          margin: 24px 0 12px;
          padding: 16px;
          border: 0;
          color: white;
          cursor: pointer;
          &:disabled {
            opacity: 0.5;
          }
        }
  
        span {
          color: #737373;
          font-size: 16px;
          font-weight: 500;
        }

        small{
          margin-top: 10px;
          font-size: 13px;
          line-height: normal;
          color: #8c8c8c;
        }
      }
    }
  }